
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form accept-charset="utf-8" method="post" action="~/Korisnik/Login">
    <input name="korisnickoIme" class="form-control" required placeholder="Korisnicko ime" />
    <br />
    <input name="lozinka" class="form-control" required type="password" placeholder="Lozinka" />
    <br />
    <input type="submit" value="Uloguj se" class="btn btn-default" />
</form>
