
@{
    ViewBag.Title = "Ostavi Komentar";
}

<h2>Ostavi komentar za @ViewBag.Centar.Naziv</h2>

<form action="~/Posjetilac/DodajKomentar" method="post">
    <input hidden name="fitCentarId" value="@ViewBag.Centar.Id" />
    <input name="tekst" placeholder="Tekst" class="form-control" />
    <select name="ocijena" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <input type="submit" value="Postavi" class="btn btn-default" />
</form>

